.header__lang-link {
  font-size: 24px;
  line-height: 1.15;
  margin-right: 18px;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

@media(max-width: 760px) {
  .header__lang-link {
    font-size: 18px;
  }
}