.place__title {
  max-width: 460px;
  width: 100%;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  margin: 0;
}

@media (max-width: 900px) {
  .place__title {
    font-size: 42px;
    max-width: 340px;
  }
}