.place__title {
  max-width: 460px;
  width: 100%;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  margin: 0;
}

@media (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media (max-width: 900px) {
  .place__title {
    box-sizing: border-box;
    font-size: 42px;
    max-width: 340px;
    padding-right: 10px;
  }
}

@media (max-width: 760px) {
  .place__title {
    font-size: 32px;
    max-width: 100%;
  }
}