.places {
  margin: 0 auto;
  max-width: 984px;
}

@media (max-width: 900px) {
  .places {
    padding-bottom: 45px;
  }
}

@media (max-width: 760px) {
  .places {
    padding-left: 0;
    padding-right: 0;
  }
}