.lead {
  max-width: 984px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .lead {
    width: 100%;
    padding: 45px 0 38px 0;
  }
}

@media (max-width: 760px) {
  .lead {
    padding: 34px 0 33px;
  }
}

