.section-padding {
  padding: 46px 0;
}

@media (max-width: 1024px) {
  .section-padding {
    padding: 46px 48px;
  }
}

@media (max-width: 900px) {
  .section-padding {
    padding: 44px 24px;
  }
}

@media (max-width: 760px) {
  .section-padding {
    padding: 48px 24px 16px;
  }
}