.header__logo {
  display: inline-block;
  background-image: url(../../../images/logo.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 176px;
  height: 52px;
}

@media(max-width: 760px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}