.place__box {
  display: flex;
  gap: 40px;
  margin-bottom: 48px;
}

.place__box:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .place__box {
    gap: 32px;
  }
}

@media (max-width: 900px) {
  .place__box {
    gap: 28px;
  }
}

@media (max-width: 760px) {
  .place__box {
    flex-direction: column;
    margin-bottom: 32px;
    gap: 33px;
  }
}