.cover {
  max-width: 1184px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .cover {
    padding: 46px 0;
  }
}

@media (max-width: 900px) {
  .cover {
    padding: 55px 0 44px;
    max-width: 100%;
  }
}

@media (max-width: 760px) {
  .cover {
    padding: 33px 0 32px;
  }
}