.footer_padding {
  padding: 46px 0 24px 0;
}

@media (max-width: 1024px) {
  .footer_padding {
    padding: 46px 48px 24px;
  }
}

@media (max-width: 900px) {
  .footer_padding {
    padding: 44px 24px 24px;
  }
}