.place {
  margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 900px) {
  .place {
    margin-bottom: 73px;
  }
}

@media (max-width: 760px) {
  .place {
    margin-bottom: 50px;
  }
}