.place {
  padding-bottom: 80px;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media (max-width: 900px) {
  .place {
    padding-bottom: 61px;
  }
}

@media (max-width: 760px) {
  .place {
    padding-bottom: 50px;
  }
}